# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @mohdatif1994 and @TheHasanM will be requested for
# review when someone opens a pull request.
*       @mohdatif1994

/root/* @mohdatif1994

/requirements/* @mohdatif1994 @TheHasanM
